@model HelpDeskProject.Models.RepairModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RepairModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HasCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasReplaced)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasReplaced)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiptID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiptID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommitTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommitTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
