@model IEnumerable<HelpDeskProject.Models.RepairModel>

@{
    ViewBag.Title = "Index";
}
@if(Request.IsAuthenticated)
{
    @if(User.Identity.)
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HasCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasReplaced)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiptID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommitTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HasCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasReplaced)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiptID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommitTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
