@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav justify-content-end" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link disabled" href="~/manage/index">@User.Identity.GetUserName()</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Manage</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item disabled"  href="#">Dashboard</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </div>
            </li>
            

        </ul>

        @*<ul class="nav nav-pills nav-fill">

            <li class="nav-item">
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li class="nav-item">
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>*@
    }
}
else
{
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="~/Account/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Account/Register">Register</a>
        </li>
        @*<ul class="navbar navbar-light bg-light" >@*class="nav navbar-nav navbar-right">*@
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Register in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    </ul>
}
